<ion-header>
  <ion-toolbar>
    <ion-title>
      Libros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list>
  
 
  <ion-item-sliding *ngFor="let libro of libros; index as i" >
    <ion-item>
      <ion-label>
        {{libro.id}} - {{libro.titulo}}, {{libro.fechapublicacion}}
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
   
      <ion-item-option (click)="navegar('/detallelibro',libro.id)"  color="secondary">
        <ion-icon slot="start" name="create"></ion-icon>
        Modificar
      </ion-item-option>

    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option (click)="deleteLibro(libro.id)" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        Borrar
      </ion-item-option>
      
    </ion-item-options>
  </ion-item-sliding>
  


</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  
  <ion-fab-button (click)="navegar('/detallelibro',0)" color="dark">Agregar</ion-fab-button>
  </ion-fab>


</ion-content>
